{% extends "base-ps.html.twig" %}

{% block title %}Poker squares{% endblock %}

{% block body %}

<div class="game_div">

    {% if counter is same as (-1) %}

        {% include 'poker-squares/bet_form.html.twig' %}

    {% else %}

        {% include 'poker-squares/game_board.html.twig' %}

        {% if counter is same as (25) %}

            {% include 'poker-squares/game_over.html.twig' %}

        {% else %}

            <div class="current-card">
                <p class="sum">Sum: {{ sum }}</p>
                <img src="{{ asset('img/cards/'~ card ~'.png') }}" alt="card" class="card">
                {% if new_card is same as ("used") %}
                    <a href="{{ path('new_card') }}"><button class="button-36" style="opacity:0.5" disabled>Give me a new card</button></a>
                {% else %}
                    <a href="{{ path('new_card') }}"><button class="button-36">Give me a new card</button></a>
                {% endif %}
                {% if clue_counter is not same as (0) %}
                    <a href="{{ path('clue') }}"><button class="button-36">Give me a clue ({{ clue_counter }})</button></a>
                {% else %}
                    <a href="{{ path('clue') }}"><button class="button-36" style="opacity:0.5" disabled>Give me a clue ({{ clue_counter }})</button></a>
                {% endif %}
                <a href="{{ path('poker_squares') }}"><button class="button-36">Start over</button></a>
            </div>

        {% endif %}
    {% endif %}

</div>

{% endblock %}
