{% extends "base-ps.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
<h1>Session</h1>

{% for key in session_all|keys %}
    <p>{{ key }}:</p>
{% endfor %}

<div class="suit-div">
    {% for holder in game_board %}
        <p>{{ holder }}</p>
    {% endfor %}

    {% for card in cards %}
        <p>{{ card }}</p>
    {% endfor %}
</div>

<a href="{{ path('session_delete') }}"><button class="button">Clear session</button></a>

{{ include('flash.html.twig') }}

{% endblock %}
