<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="ps-body">

        <nav class="ps-nav">
            <a href="{{ path('poker_squares') }}">Play</a>
            <a href="{{ path('about_ps') }}">About game</a>
            <a href="{{ path('about_ps') }}">High scores</a>
            <a href="{{ path('poker_session') }}">Session</a>
        </nav>

        <main class="main">
            {% block body %}
                <img src="{{ asset('img/header.jpg') }}" alt="header">
            {% endblock %}
        </main>

        <footer>
            <p>Emelie Eklund | Blekinge Tekniska Högskola</p>
        </footer>
    </body>
</html>
